{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": true,
    "printWidth": 120,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.{ts,tsx}",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}